footer
  .container.text-center
    p.float-left © 2018 Lukas Menhert
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Hackathon Starter
      li.list-inline-item
        a(href='https://github.com/lukasme/assignment-gis') Assignment GitHub
