extends layout

block content
  .card(style="margin-top: 16px;")
    .card-body 
      h5.card-title Project Origins
      .card-text This small website came to be as a product of assignment in course PDT_I: Advanced Database Technologies at Slovak University of Technology, Faculty of Informatics and Information Technologies. Complete assignment can be found on...

